<form action="/api/users" method="post">
  firstname<input type="text" name="first_name" id="" />
  lastname<input type="text" name="last_name" id="" />
  email<input type="text" name="email" id="" />
  pass<input type="password" name="password" id="" />
  <input type="submit" value="REGISTER" />
</form>